.hero {
  text-align: center;
  padding: 50px 20px;
  /* background: linear-gradient(to bottom, #000000 * 2.5, #002530); */
  background-color: #000000;
  
}
/* @font-face {
  font-family: "Motion Control";
  src: url("/fonts/MotionConrol-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

.hero-title {
  font-size: 80px;
  font-family: MotionControl;
  font-weight: 700;
  font-style: bold;
  color: #7a07f5;
  /* text-shadow: 0 0 10px rgba(233,213,255,0.8); 
} */

@font-face {
  font-family: "Motion Control";
  src: url("../../../public/fonts/MotionControl-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.hero-title {
  font-size: 80px;
  font-family: "Motion Control", sans-serif;
  font-weight: 700; /* Bold */
  font-style: normal;
  color: #0bf;
  /* text-shadow: 0 0 10px rgba(233,213,255,0.8); */
}

.hero-subtitle {
  top: -65px;
  color: #d1d5db;
  font-size: 20px;
  width: 400px;
  position: relative;
  left: 40%;
}

.search-box {
  margin-top: -20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  background: transparent;
  padding: 10px 14px;
  border-radius: 25px;
  width: 400px;
  box-shadow: 0px 0 2px #696BEF,
              0px 0 2px #00c5bc,
              0px 0 2px #0bf;

  /* box-shadow: 0 0 10px rgba(192,132,252,0.7); */
  /* border: 2px solid #a855f7; */
  margin-bottom: 10px;

}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 15px;
  background: transparent;
  color: white;
  /* box-shadow: 0 0 8px #696BEF,
              0 0 16px #00c5bc,
              0 0 24px #c200f3,
              0 0 40px rgba(194,0,243,0.6); */
}

.search-icon {
  color: #6b21a8;
}

.search-box:hover{
  box-shadow: -8px 0 20px #696BEF,
              0px 0 20px #00c5bc,
              8px 0 20px #0bf;
  transition: 1s ease;
}

@media  (max-width:1400px) {
  .hero-title {
    font-size: 60px;
  }
  .hero-subtitle {
    font-size: 20px;
    top: -45px;
    width: 400px;
    left: 35%;
  }
  .search-box {
    width: 300px;
  }
}