body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #002530;
  color: white;
  overflow-x: hidden;
  margin-bottom: 40px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
